.contacto-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
}

.contacto-content img {
  max-width: 300px;
  height: auto;
  display: block;
  padding-top: 1,5rem;
}

.contacto-text {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex: 1;
  align-items: center;
}

.contacto-text h2 {
  font-family: var(--font-title);
  font-size: var(--size-large);
  color: var(--first-color);
  margin: 0;
  letter-spacing: 5px;
}

.contacto-text li {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin-bottom: var(--size-small);
  color: var(--third-color);
  font-size: 1.1rem;
  line-height: 1.6;
}

.contacto-text li img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.contacto-text a {
  font-size: 1.1rem;
  line-height: 1.6;
  color: var(--third-color);
}

.contacto-text a:hover {
  text-decoration: underline;
}

@media (max-width: 884px) {

  .contacto-content img {
    max-width: 250px;
  }
}

@media (max-width: 786px) {

  .contacto-text h2 {
    font-size: 2rem;
  }

  .contacto-text li {
    font-size: var(--size-small);
  }

  .contacto-text a {
    font-size: var(--size-small);
  }

  .contacto-content {
    gap: 0;
    padding: 20px 20px 20px 0;
  }
}

@media (max-width: 664px) {

   .contacto-content img {
    max-width: 200px;
  }
}

@media (max-width: 611px) {

  .contacto-text h2 {
    font-size: 1.7rem;
  }

  .contacto-text li {
    font-size: 0.8rem;
  }

  .contacto-text a {
    font-size: 0.8rem;
  }

  .contacto-content img {
    max-width: 170px;
  }
}

@media (max-width: 537px) {

  .contacto-content {
    flex-direction: column;
    overflow: auto;
  }

  .contacto-content img {
    margin-bottom: var(--size-small);
  }

  .contacto-text li img {
    margin: 0;
  }
}