.experiencia-laboral-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  width: 100%;
  box-sizing: border-box;
  padding: 20px 20px;
}

.experiencia-laboral-content img {
  max-width: 300px;
  height: auto;
  display: block;
}

.experiencia-laboral-main {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex: 1;
  text-align: center;
  overflow-y: auto;
  max-height: calc(80vh - 40px);
  padding-right: 10px;
}

.experiencia-laboral-main h2 {
  font-family: PocketMonk, sans-serif;
  font-size: 2.5rem;
  color: #0b54ff;
  margin: 0;
  letter-spacing: 5px;
}

.experiencia-laboral-main p {
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.5;
  font-size: 1.1rem;
}

@media (max-width: 990px) {

  .experiencia-laboral-content img {
    max-width: 250px;
  }
}

@media (max-width: 783px) {

  .experiencia-laboral-content img {
    max-width: 200px;
  }

  .experiencia-laboral-main h2 {
    font-size: 2rem;
  }

  .experiencia-laboral-main p {
    font-size: 1rem;
  }

  .experiencia-laboral-content {
    padding: 20px 10px 20px 0;
    gap: 20px
  }
}

@media (max-width: 633px) {

  .experiencia-laboral-content img {
    max-width: 170px;
  }

  .experiencia-laboral-main h2 {
    font-size: 1.7rem;
  }

  .experiencia-laboral-main p {
    font-size: 0.8rem;
  }

  .experiencia-laboral-content {
    padding: 20px 10px 20px 0;
    gap: 10px
  }
}

@media (max-width: 540px) {

  .experiencia-laboral-content {
    flex-direction: column;
  }

  .experiencia-laboral-main {
    padding: 0;
  }
}