main {
  position: relative;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 70px);
  padding: 0rem 1rem;
}

main section {
position: absolute;
padding: 10px 15px;
width: 300px;
z-index: 2;
}

.proyectos-academicos {
  top: 15%;
  left: 20%;
  transform: translate(-50%, -50%);
}

.sobre-mi {
  top: 15%;
  right: 20%;
  transform: translate(50%, -50%);
}

.creador-de-contenido {
  bottom: 15%;
  left: 20%;
  transform: translate(-50%, 50%);
}

.contacto {
  bottom: 15%;
  right: 20%;
  transform: translate(50%, 50%);
}

.habilidades {
  right: 20%;
  transform: translate(50%, 0%);
}

.experiencia-laboral {
  left: 20%;
  transform: translate(-50%, 0%);
}