main {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr minmax(280px, 320px) 1fr;
  grid-template-areas: "left center right";
  align-items: center;
  justify-items: center;
  justify-content: space-around;
  gap: 24px;
  min-height: calc(100vh - 70px);
  padding: 0 2rem;
  box-sizing: border-box;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-around;
  height: 100%;
}

.left  {
  grid-area: left;
}

.right {
  grid-area: right;
}

.buttons-container section {
  width: 250px;
}

.img-container {
  grid-area: center;
  width: min(320px, 80vw);
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

@media (max-width: 890px) {
  main {
    grid-template-columns: 0.8fr minmax(240px, 280px) 0.8fr;
    gap: 16px;
    padding: 0 var(--size-small);
  }

  .buttons-container section {
    width: 250px;
  }
}

@media (max-width: 768px) {
  main {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
      "img left"
      "img right";
    gap: 0px;
    padding: 0 0.5rem;
    align-items: center;
    margin-top: var(--size-small);
  }

  .img-container {
    grid-area: img;
  }

  .right {
    grid-area: right;
    margin-bottom: 2rem;
  }

  .left {
    grid-area: left;
    margin-top: 2rem;
  }

  .buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    gap: 20px;
    
  }
}

@media (max-width: 600px) {

  main {
    margin-top: 0;
  }

  .img-container {
    width: 300px;
  }
}

@media (max-width: 520px) {

  main {
    gap: 10px;
  }

  .img-container {
    width: 250px;
  }
}

@media (max-width: 435px) {

  main {
    grid-template-columns: 1fr;
    grid-template-areas: 
      "up"
      "center"
      "down";
  }

  .img-container {
    grid-area: center;
  }

  .left {
    grid-area: up;
  }

  .right {
    grid-area: down;
    margin-top: var(--size-small);
  }

  section {
    display: flex;
    justify-content: center
  }
}
