.content-creator-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  width: 100%;
  box-sizing: border-box;
  padding: 20px 10px;
}

.content-creator-content img {
  max-width: 300px;
  height: auto;
  display: block;
  border-radius: 50px;
}

.content-creator-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex: 1;
  text-align: center;
  max-height: calc(80vh - 40px);
  overflow-y: auto;
}

.content-creator-container h2 {
  font-family: PocketMonk, sans-serif;
  font-size: 2.5rem;
  color: #0b54ff;
  margin: 0;
  letter-spacing: 5px;
}

.content-creator-gallery {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.content-creator-gallery div {
  margin: 1.5rem 0;
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(90deg, #0b54ff, #0d0081, #0b54ff);
  border-radius: 20px;
  padding: 20px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
  transition: 0.3s ease;
}

.content-creator-gallery div:hover {
  transform: scale(1.05);
}

.content-creator-gallery > div > h3{
  color: white;
  font-size: 2rem;
}

.content-creator-gallery > div > img {
cursor: pointer;
max-width: none;
width: 50%;
max-height: 400px;
margin-top: 0.7rem;
border-radius: 20px;
}

.video-preview {
  margin-top: 0.7rem;
  aspect-ratio: 16 / 9;
  width: 60%;
  border-radius: 10px;
}

.content-creator-gallery > div > p {
  gap: 0.8rem;
  margin: 1rem 0rem;
  color: white;
  font-size: 1.1rem;
  line-height: 1.6;
}

@media (max-width: 1000px) {

  .content-creator-content img {
    max-width: 250px;
  }

  .content-creator-content {
    gap: 0;
    padding: 20px 10px 20px 0;
  }

  .content-creator-container h2 {
    font-size: 2.2rem;
  }

  .content-creator-gallery > div > img {
    width: 100%;
    max-width: 400px;
    height: auto;
  }

  .video-preview {
    width: 100%;
    max-width: 500px;
  }
}

@media (max-width: 890px) {

  .content-creator-container h2 {
    font-size: 2rem;
  }

  .content-creator-content img {
    max-width: 200px;
  }

  .content-creator-gallery > div > h3 {
    font-size: 1.5rem;
  }

  .content-creator-gallery > div > p {
    font-size: 1rem;
  }
}

@media (max-width: 790px) {

  .content-creator-container h2 {
    font-size: 1.7rem;
  }

  .content-creator-content img {
    max-width: 170px;
  }
}

@media (max-width: 650px) {

  .content-creator-gallery > div > h3 {
    font-size: 1.3rem;
  }

  .content-creator-gallery > div > p {
    font-size: 0.8rem;
  }
}

@media (max-width: 570px) {

  .content-creator-content {
    flex-direction: column;
    overflow-y: auto;
  }

  .content-creator-content img {
    max-width: 150px;
    margin-bottom: 1rem;
  }

  .content-creator-container {
    overflow: visible;
  }
}