@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: PocketMonk;
  src: url("./assets/fonts/PocketMonk.ttf");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: roboto, sans-serif;
}

html, body {
  background: linear-gradient(90deg, #0b54ff, #3ae3e3, #0b54ff);
  height: 100%;
  overflow: hidden;
}