.avatar-img {
  display: block;
  width: auto;
  height: 500px;
  object-fit: cover;
  margin: 0 auto;
}

@media (max-width: 999px) {
  .avatar-img {
    max-height: 400px;
    max-width: 260px;
  }
}

@media (max-width: 768px) {
  .avatar-img {
    max-height: 400px;
    max-width: 280px;
  }
}

@media (max-width: 600px) {
  .avatar-img {
    max-height: 320px;
    max-width: 240px;
  }
}