.academic-projects-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  width: 100%;
  box-sizing: border-box;
  padding: 20px 10px;
}

.academic-projects-content img {
  max-width: 300px;
  height: auto;
  display: block;
  border-radius: 50px;
}

.academic-projects-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex: 1;
  text-align: center;
  max-height: calc(80vh - 40px);
  overflow-y: auto;
}

.academic-projects-container h2 {
  font-family: PocketMonk, sans-serif;
  font-size: 2.5rem;
  color: #0b54ff;
  margin: 0;
  letter-spacing: 5px;
}

.academic-projects-gallery div {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(228, 228, 228);
  border-radius: 20px;
  padding: 5px;
  border: solid 3px #0b54ff;
  box-shadow: 10px 4px 8px rgba(0, 0, 0, 0.4);
}

.academic-projects-gallery > div > h3{
  color: #0b54ff;
  font-size: 2rem;
}

.academic-projects-gallery > div > img {
cursor: pointer;
transition: 0.3s ease;
max-width: none;
width: 80%;
margin-top: 0.7rem;
border-radius: 20px;
}

.academic-projects-gallery > div > img:hover {
  transform: scale(1.1);
}

.academic-projects-gallery > div > p {
  gap: 0.8rem;
  margin: 1rem 0rem;
  color: #333;
  font-size: 1.1rem;
  line-height: 1.6;
}