.academic-projects-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 30px;
  width: 100%;
  box-sizing: border-box;
  padding: 20px 10px;
}

.academic-projects-content img {
  max-width: 300px;
  height: auto;
  display: block;
  padding-top: 1,5rem;
  border-radius: 50px;
}

.academic-projects-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex: 1;
  text-align: center;
}

.academic-projects-container h2 {
  font-family: PocketMonk, sans-serif;
  font-size: 2.5rem;
  color: #0b54ff;
  margin: 0;
  letter-spacing: 5px;
}

.academic-projects-gallery div {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.academic-projects-gallery > div > h3{
  color: rgb(107, 214, 0);
  margin-bottom: 1rem;
}

.academic-projects-gallery > div > img {
cursor: pointer;
transition: 0.3s ease;
width: 100%;
}

.academic-projects-gallery > div > img:hover {
  transform: scale(1.2);
}

.academic-projects-gallery > div > p {
  gap: 0.8rem;
  margin: 1rem 0rem;
  color: #333;
  font-size: 1.1rem;
  line-height: 1.6;
}